body {
    color: white;
}

.container {
    margin: 0 auto;
    text-align: center;
    border: 1px solid #3F69AA;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-color: #3F69AA
}

button {
    color: white;
    background-color: #3F69AA;
    border: 1px solid #3F69AA;
}

input {
    margin-bottom: 1vh;
    padding: 4vw;
    border: 1px solid white;
    width: 80vw;
}

.form-error {
    margin: 0 auto;
    padding: 4vw;
    color: #a94442;
    background-color: #f2dede;
    border: 1px solid #f2dede;
    width: 80vw;
}

@media only screen and (min-width: 768px) {
    .container {
        width: 45vw;
        height: 40vh;
        margin-top: 25vh;
    }
    input {
        padding: 1vw;
        width: 20vw;
    }
    .form-error {
        padding: 1vw;
        width: 20vw;
    }
}